Question 1
Write a function called proportion_of_education which returns the proportion of children in the dataset who had a mother with the education levels equal to less than high school (<12), high school (12), more than high school but not a college graduate (>12) and college degree.

This function should return a dictionary in the form of (use the correct numbers, do not round numbers):

    {"less than high school":0.2,
    "high school":0.4,
    "more than high school but not college":0.2,
    "college":0.2}

In [16]:
def proportion_of_education():
    
    import pandas as pd
    import numpy as np
    
    df = pd.read_csv('./datasets/NISPUF17.csv')
    edu = df['EDUC1']
    edu_sort = np.sort(edu.values)
    
    dic={"less than high school":0,
         "high school":0,
         "more than high school but not college":0,
         "college":0    
    }
    l = len(edu_sort)
    dic["less than high school"] = np.sum(edu_sort == 1)/l
    dic["high school"] = np.sum(edu_sort == 2)/l
    dic["more than high school but not college"] = np.sum(edu_sort == 3)/l
    dic["college"] = np.sum(edu_sort == 4)/l
    
    return dic
    
    #raise NotImplementedError()

In [17]:
proportion_of_education()

{'less than high school': 0.10202002459160373,
 'high school': 0.172352011241876,
 'more than high school but not college': 0.24588090637625154,
 'college': 0.47974705779026877}

In [3]:
df = pd.read_csv('./datasets/NISPUF17.csv')

In [4]:
df.head()

,Unnamed: 0,SEQNUMC,SEQNUMHH,PDAT,PROVWT_D,RDDWT_D,STRATUM,YEAR,AGECPOXR,HAD_CPOX,...,XVRCTY2,XVRCTY3,XVRCTY4,XVRCTY5,XVRCTY6,XVRCTY7,XVRCTY8,XVRCTY9,INS_STAT2_I,INS_BREAK_I
0,1,128521,12852,2,NaN,235.916956,1031,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,10741,1074,2,NaN,957.353840,1068,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,220011,22001,2,NaN,189.611299,1050,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,86131,8613,1,675.430817,333.447418,1040,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
4,5,227141,22714,1,482.617748,278.768063,1008,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0

In [5]:
df.index

RangeIndex(start=0, stop=28465, step=1)

In [40]:
import numpy as np
import pandas as pd
    
df = pd.read_csv("./datasets/NISPUF17.csv", index_col = 0)
cbf_flu = df.loc[:, ['CBF_01', 'P_NUMFLU']]

cbf_flu1 = cbf_flu[cbf_flu['CBF_01'] == 1].dropna()
cbf_flu2 = cbf_flu[cbf_flu['CBF_01'] == 2].dropna()
    
flu1 = cbf_flu1['P_NUMFLU'].values.copy()
flu1[np.isnan(flu1)] = 0
f1 = np.sum(flu1)/len(flu1)

flu2 = cbf_flu2['P_NUMFLU'].values.copy()
flu2[np.isnan(flu2)] = 0
f2 = np.sum(flu2)/len(flu2)

f1
f2

1.5963945918878317

Let's explore the relationship between being fed breastmilk as a child and getting a seasonal influenza vaccine from a healthcare provider. Return a tuple of the average number of influenza vaccines for those children we know received breastmilk as a child and those who know did not.

This function should return a tuple in the form (use the correct numbers:

(2.5, 0.1)

In [43]:
def average_influenza_doses():
    import numpy as np
    import pandas as pd
    
    df = pd.read_csv("./datasets/NISPUF17.csv", index_col = 0)
    cbf_flu = df.loc[:, ['CBF_01', 'P_NUMFLU']]
    
    cbf_flu1 = cbf_flu[cbf_flu['CBF_01'] == 1].dropna()
    cbf_flu2 = cbf_flu[cbf_flu['CBF_01'] == 2].dropna()
    
    flu1 = cbf_flu1['P_NUMFLU'].values.copy()
    flu1[np.isnan(flu1)] = 0
    f1 = np.sum(flu1)/len(flu1)

    flu2 = cbf_flu2['P_NUMFLU'].values.copy()
    flu2[np.isnan(flu2)] = 0
    f2 = np.sum(flu2)/len(flu2)

    vac = (f1,f2)
    
    return vac

In [44]:
average_influenza_doses()

(1.8799187420058687, 1.5963945918878317)

It would be interesting to see if there is any evidence of a link between vaccine effectiveness and sex of the child. Calculate the ratio of the number of children who contracted chickenpox but were vaccinated against it (at least one varicella dose) versus those who were vaccinated but did not contract chicken pox. Return results by sex.

This function should return a dictionary in the form of (use the correct numbers):

    {"male":0.2,
    "female":0.4}
Note: To aid in verification, the chickenpox_by_sex()['female'] value the autograder is looking for starts with the digits 0.0077.

In [47]:
import pandas as pd
import numpy as np
df = pd.read_csv("./datasets/NISPUF17.csv", index_col=0)
    
cpo_sex=df[df['P_NUMVRC'].gt(0) & df['HAD_CPOX'].lt(3)].loc[:,['HAD_CPOX','SEX']]
#Male 1 Female 2
cpo1_sex1=len(cpo_sex[(cpo_sex['HAD_CPOX']==1) & (cpo_sex['SEX']==1)])
cpo1_sex2=len(cpo_sex[(cpo_sex['HAD_CPOX']==1) & (cpo_sex['SEX']==2)])

cpo2_sex1=len(cpo_sex[(cpo_sex['HAD_CPOX']==2) & (cpo_sex['SEX']==1)])
cpo2_sex2=len(cpo_sex[(cpo_sex['HAD_CPOX']==2) & (cpo_sex['SEX']==2)])
    
cbs={"male":0,
    "female":0}
cbs['male']=cpo1_sex1/cpo2_sex1
cbs['female']=cpo1_sex2/cpo2_sex2
cbs

{'male': 0.009675583380762664, 'female': 0.0077918259335489565}