In [1]:
import pandas as pd

In [2]:
students = ['Alice','Jack','Molly']
pd.Series(students)

0    Alice
1     Jack
2    Molly
dtype: object

In [3]:
num = [1,2,4]
pd.Series(num)

0    1
1    2
2    4
dtype: int64

In [4]:
students = ['Alice','Jack',None]
pd.Series(students)

0    Alice
1     Jack
2     None
dtype: object

In [5]:
num = [1,2,None]
pd.Series(num)

0    1.0
1    2.0
2    NaN
dtype: float64

In [6]:
import numpy as np
np.nan==None

False

In [7]:
np.nan == np.nan

False

In [8]:
np.isnan(np.nan)

True

In [10]:
stu_scores={
    'Alice':'Physics',
    'Jack': 'Chemistry',
    'Molly': 'English'
}
s = pd.Series(stu_scores)
s

Alice      Physics
Jack     Chemistry
Molly      English
dtype: object

In [11]:
s.index

Index(['Alice', 'Jack', 'Molly'], dtype='object')

In [12]:
#list of tuples
student = [('Alice', 'Brown'),('Jack','White'), ("Mole", "Green")]

In [13]:
pd.Series(student)

0    (Alice, Brown)
1     (Jack, White)
2     (Mole, Green)
dtype: object

In [14]:
s = pd.Series(['Physics','Chemistry', 'English'], index = ['Alice','Jack','Molly'])
s

Alice      Physics
Jack     Chemistry
Molly      English
dtype: object

In [15]:
stu_scores={
    'Alice':'Physics',
    'Jack': 'Chemistry',
    'Molly': 'English'
}

In [16]:
s = pd.Series(stu_scores, index=['Alice', 'Molly','Sam'])
s

Alice    Physics
Molly    English
Sam          NaN
dtype: object