In [25]:
import numpy as np
import pandas as pd
from PIL import Image #converting images into arrays

In [26]:
df_canada = pd.read_excel('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DV0101EN/labs/Data_Files/Canada.xlsx',
                         sheet_name='Canada by Citizenship',
                         skiprows = range(20),
                         skipfooter = 2)

In [27]:
df_canada.drop(['AREA', 'REG', 'DEV', 'Type', 'Coverage'], axis = 1, inplace=True)
df_canada.rename(columns={'OdName':'Country', 'AreaName':'Continent', 'RegName':'Region'}, inplace=True)

In [28]:
df_canada.columns = list(map(str, df_canada.columns))

In [29]:
df_canada.set_index('Country', inplace=True)
df_canada.shape

(195, 37)

In [30]:
df_canada['Totals'] = df_canada.sum(axis=1)

In [31]:
years = list(map(str, range(1980-2013)))

In [32]:
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches # needs for waffle charts

In [33]:
df_dns = df_canada.loc[['Denmark','Norway','Sweden'], :]
df_dns

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Totals
Country,,,,,,,,,,,,,,,,,,,,,
Denmark,Europe,Northern Europe,Developed regions,272,293,299,106,93,73,93,...,62,101,97,108,81,92,93,94,81,3901
Norway,Europe,Northern Europe,Developed regions,116,77,106,51,31,54,56,...,57,53,73,66,75,46,49,53,59,2327
Sweden,Europe,Northern Europe,Developed regions,281,308,222,176,128,158,187,...,205,139,193,165,167,159,134,140,140,5866

In [40]:
#compute the poportion of each category with respect to the total
total_values = sum(df_dns['Totals'])
category_proportions = [(float(value)/total_values) for value in df_dns['Totals']] 

for i, proportions in enumerate(category_proportions):
    print(df_dns.index.values[i] + ': '+ str(proportions))

Denmark: 0.32255663965602777
Norway: 0.1924094592359848
Sweden: 0.48503390110798744

In [41]:
#decline the overall size of waffle chart
width = 40
height = 10
total_num_tiles = width * height
print('Totals number of tiles is', total_num_tiles)

Totals number of tiles is 400